@primaryColor: white;
@daysOfWeekBackground: @Alto;
@daysOfWeekColor: @Emperor;
@daysBackground: @Gallery;
@daysColor: @DoveGray;
@daysDisableColor: @DustyGray;

calendar {
    
   * { 
       box-sizing:border-box;
    }
    
    ul {
        list-style-type: none;
    }

    .calendar {
        &_month {
            &-top {
                padding: 3.125em 1.563em;
                width: 100%;    

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        color: @primaryColor;
                        font-size: 1.250em;
                        text-transform: uppercase;
                        letter-spacing: 0.188em;
                     }
                }
            }

            &-down {
                text-align: center;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    td, th {
                        vertical-align: middle;
                    }
                }
            }
        }

        &_prev {
            float: left;
            padding-top: 0.520em;
        }

        &_next {
            float: right;
            padding-top: 0.520em;
        }

        &_days-title-container {
            background-color: @daysOfWeekBackground;
        }

        &_day-of-week {
            padding: 0.620em;
            color: @daysOfWeekColor;
        }

        &_days-container {
            background-color: @daysBackground;
        }

        &_close-calendar-button {
            display: none;
            margin: 0;
            width: 100%;
        }

        &_open-calendar-button {
            display: none;
            margin: 0;
            width: 100%;
        }

        &_calendar-collapsable {
            &.expanded {
                height: 28.438em;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .md-button {
        min-width: 80%;
    }

    calendar .calendar_month-top {
        padding: 0.938em 0.625em;
    }

    calendar .calendar_close-calendar-button {
        display: inline;
    }

    calendar .calendar_open-calendar-button {
        display: inline;
    }

    calendar .calendar_calendar-collapsable {
        display: block;
        overflow: hidden;
        height: 0;
        width: 100%;
        transition: height 1s; 
    }
}

@media screen and (max-width: 330px) {
    .md-button {
        min-width: 1%;
    }
}