<div class="calendar">
    <div class="month">
        <ul>
            <li class="prev" ng-click="toPrevMonthClick()">❮</li>
            <li class="next" ng-click="toNextMonthClick()">❯</li>
            <li style="text-align:center" ng-click="toThisDayClick()">
                {{monthOfSelectedDate}}<br>
                <span style="font-size:18px">{{yearOfSelectedDate}}</span>
            </li>
        </ul>
    </div>


    <table>
        <thead>
            <tr>
                <th ng-repeat="dayOfTheWeek in daysOfTheWeek">{{dayOfTheWeek}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="calendarDays in calendar">
                <td ng-repeat="calendarDay in calendarDays">
                    <div ng-click="dayClick(calendarDay.dayOfMonth, calendarDay.isDayInSelectedMonth)"
                         ng-class="{'active': calendarDay.isDayInSelectedMonth && calendarDay.dayOfMonth == dayOfSelectedDate}">{{calendarDay.dayOfMonth}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>